In [72]:
import numpy as np
import pandas as pd

from datetime import datetime

from pathlib import Path

import talib

from math import *

In [2]:
class CSVDataHandler:
    def __init__(self, symbol_list, timeframe):
        self.csv_dir = '../exchange_data'
        self.symbol_list = ['-'.join(symbol.split('/'))
                            for symbol in symbol_list]
        self.timeframe = timeframe

        self.symbol_data = dict()
        self.latest_symbol_data = dict()

        self.continue_backtest = True

        self._load_symbol_data()

    def __repr__(self):
        return f'<CSVDataHandler>'

    def __str__(self):
        return f'CSVDataHandler with {self.timeframe} timeframe'

    def _load_symbol_data(self):
        '''
        It imports historical data from a set of CSV files then prepare them for the backtesting.
        It sets self.symbol_data with all data and init self_latest_symbol_data with empty data.
        '''
        csv_files_path = f'{Path().absolute()}/{self.csv_dir}'
        columns = ['datetime', 'open', 'high', 'low', 'close', 'volume']
        combined_symbol_index = None

        for symbol in self.symbol_list:
            symbol_csv_path = f'{csv_files_path}/{symbol}_{self.timeframe}.csv'
            self.symbol_data[symbol] = pd.read_csv(
                symbol_csv_path, header=None, index_col=0, names=columns)

            self.symbol_data[symbol].index = pd.to_datetime(
                self.symbol_data[symbol].index, unit='ms')
            self.symbol_data[symbol] = self.symbol_data[symbol].drop_duplicates(
            )
            self.symbol_data[symbol] = self.symbol_data[symbol].sort_index()

            if combined_symbol_index is None:
                combined_symbol_index = self.symbol_data[symbol].index
            else:
                combined_symbol_index = combined_symbol_index.union(
                    self.symbol_data[symbol].index)

            # Init list that will contain latest ohlcv data for each symbol
            self.latest_symbol_data[symbol] = list()

        for symbol in self.symbol_list:
            self.symbol_data[symbol] = self.symbol_data[symbol].reindex(
                index=combined_symbol_index, method='pad', fill_value=0).itertuples(name='OHLCV')

    def _get_new_bar(self, symbol):
        for bar in self.symbol_data[symbol]:
            yield bar

    def update_bars(self):
        """
        It feeds the backtest with latest data in each iteration and trigger Market event.
        It sets this data in self.latest_symbol_data.
        If there is no data to feed the backtest, it raises an exception and the backtest stops.
        """
        for symbol in self.symbol_list:
            try:
                bar = next(self._get_new_bar(symbol))
            except StopIteration:
                self.continue_backtest = False
            else:
                if bar is not None:
                    self.latest_symbol_data[symbol].append(bar)

    def get_latest_bar(self, symbol):
        """
        It returns the latest bar data of a given symbol as namedtuple
        e.g: OHLCV(Index=Timestamp('2017-08-08 11:00:00'), open=0.080292,
                   high=0.081039, low=0.079854, close=0.080282, volume=610.868)
        """
        try:
            return self.latest_symbol_data[symbol][-1]
        except KeyError:
            print("That symbol is not available in the historical data set.")
            raise

    def get_latest_bars(self, symbol, N=1):
        """
        It returns the latest bars data of a given symbol as a np array
        """
        try:
            return np.array(self.latest_symbol_data[symbol][-N:])
        except KeyError:
            print("That symbol is not available in the historical data set.")
            raise
            
    def get_latest_bars_df(self, symbol, N=1):
        """
        It returns the latest bars data of a given symbol as a np array
        """
        try:
            bars = pd.DataFrame(self.latest_symbol_data[symbol][-N:])
            bars.set_index('Index', inplace=True)
            return bars
        except KeyError:
            print("That symbol is not available in the historical data set.")
            raise

    def get_latest_bar_datetime(self, symbol):
        """
        It returns the latest bar timestamp object of a given symbol
        """
        try:
            return self.latest_symbol_data[symbol][-1].Index
        except KeyError:
            print("That symbol is not available in the historical data set.")
            raise

    def get_latest_bar_value(self, symbol, value_type):
        """
        It returns the latest bar value (open, high, low, close or volume) of a given symbol
        """
        try:
            if value_type == 'datetime':
                return getattr(self.latest_symbol_data[symbol][-1], 'Index')
            return getattr(self.latest_symbol_data[symbol][-1], value_type)
        except KeyError:
            print("That symbol is not available in the historical data set.")
            raise

    def get_latest_bars_values(self, symbol, value_type, N=1):
        """
        It returns a numpy array of the latest bars values (open, high, low, close or volume) of a given symbol
        e.g: array([ 89, 88.2, 86.4, ...])
        """
        try:
            bars = self.latest_symbol_data[symbol][-N:]
        except KeyError:
            print("That symbol is not available in the historical data set.")
            raise
        else:
            if value_type == 'datetime':
                return np.array([getattr(bar, 'Index') for bar in bars])
            return np.array([getattr(bar, value_type) for bar in bars])

    def current_price(self, symbol):
        """
        It retuns latest close price
        """
        return self.get_latest_bar_value(symbol, 'close')

In [5]:
data = CSVDataHandler(['BTC/USDT'], '1h')

In [6]:
for _ in range(250):
    data.update_bars()

bars = data.get_latest_bars_df('BTC-USDT', N=250)

In [7]:
bars['rsi'] = talib.RSI(bars['close'])

In [8]:
price_set = bars.loc[bars['open'] > bars['close'], 'low']
rsi_set = bars.loc[bars['open'] > bars['close'], 'rsi']

In [9]:
bars

                        open     high      low    close     volume        rsi
Index
2017-08-17 04:00:00  4261.48  4313.62  4261.32  4308.83  47.181009        NaN
2017-08-17 05:00:00  4308.83  4328.69  4291.37  4315.32  23.234916        NaN
2017-08-17 06:00:00  4330.29  4345.45  4309.37  4324.35   7.229691        NaN
2017-08-17 07:00:00  4316.62  4349.99  4287.41  4349.99   4.443249        NaN
2017-08-17 08:00:00  4333.32  4377.85  4333.32  4360.69   0.972807        NaN
...                      ...      ...      ...      ...        ...        ...
2017-08-27 09:00:00  4323.90  4345.81  4302.11  4320.81  12.868744  51.750829
2017-08-27 10:00:00  4330.00  4330.00  4285.56  4302.73  13.820714  48.092588
2017-08-27 11:00:00  4323.87  4344.99  4285.80  4323.37  14.332417  52.242971
2017-08-27 12:00:00  4340.00  4340.00  4298.66  4298.66  11.000033  47.360671
2017-08-27 13:00:00  4314.11  4333.68  4285.54  4312.69  11.898816  50.206067

[250 rows x 6 columns]

In [10]:
rsi_set

Index
2017-08-17 06:00:00          NaN
2017-08-17 11:00:00          NaN
2017-08-17 12:00:00          NaN
2017-08-17 15:00:00          NaN
2017-08-17 17:00:00          NaN
                         ...
2017-08-27 09:00:00    51.750829
2017-08-27 10:00:00    48.092588
2017-08-27 11:00:00    52.242971
2017-08-27 12:00:00    47.360671
2017-08-27 13:00:00    50.206067
Name: rsi, Length: 124, dtype: float64

In [89]:
trades = pd.read_csv('../backtest_results/trades.csv', header=0, parse_dates=True, index_col=0)

In [106]:
start_date = '2019-01-14 00:00:00'
end_date = '2019-07-02 00:00:00'
mask = (trades['open_date'] >= start_date) & (trades['open_date'] <= end_date)
trades_2017 = trades.loc[mask]

In [107]:
records = trades_2017[['open_date', 'open_market_price', 'close_date', 'close_market_price', 'win_trades_long', 'loss_trades_long', 'returns_long']]

In [108]:
records

,open_date,open_market_price,close_date,close_market_price,win_trades_long,loss_trades_long,returns_long
332,2019-01-15 15:00:00,3602.33,2019-01-16 04:00:00,3578.36,False,True,-0.006654
333,2019-01-18 17:45:00,3577.44,2019-01-19 02:15:00,3607.59,True,False,0.008428
334,2019-01-23 14:15:00,3570.84,2019-01-24 07:30:00,3548.22,False,True,-0.006335
335,2019-01-28 04:45:00,3479.01,2019-01-28 22:30:00,3433.75,False,True,-0.013009
336,2019-02-06 10:00:00,3406.30,2019-02-06 15:30:00,3415.34,True,False,0.002654
337,2019-02-10 14:45:00,3619.50,2019-02-10 16:30:00,3642.20,True,False,0.006272
338,2019-02-24 12:15:00,4137.61,2019-02-25 02:45:00,3799.91,False,True,-0.081617
339,2019-02-27 00:00:00,3806.03,2019-02-27 02:30:00,3816.07,True,False,0.002638
340,2019-03-04 08:15:00,3725.95,2019-03-04 16:00:00,3725.14,False,True,-0.000217
341,2019-03-11 11:15:00,3877.23,2019-03-11 18:15:00,3880.94,True,False,0.000957
342,2019-03-11 18:30:00,3863.70,2019-03-13 03:15:00,3888.59,True,False,0.006442
343,2019-03-17 02:15:00,3967.20,2019-03-17 10:15:00,3989.09,True,False,0.005518
344,2019-03-25 20:00:00,3906.59,2019-03-25 23:15:00,3943.92,True,False,0.009556
345,2019-04-04 08:30:00,4994.36,2019-04-05 05:00:00,4996.47,True,False,0.000422
346,2019-04-08 08:30:00,5173.59,2019-04-08 20:30:00,5191.52,True,False,0.003466
347,2019-04-09 05:00:00,5142.89,2019-04-09 13:15:00,5179.10,True,False,0.007041
348,2019-04-11 22:00:00,4990.40,2019-04-12 10:30:00,5032.52,True,False,0.008440
349,2019-04-13 10:00:00,5033.88,2019-04-13 14:15:00,5061.04,True,False,0.005395
350,2019-04-17 12:15:00,5171.88,2019-04-17 19:45:00,5210.49,True,False,0.007465
351,2019-04-18 16:00:00,5221.16,2019-04-18 17:00:00,5252.28,True,False,0.005960
352,2019-04-18 17:15:00,5257.37,2019-04-18 21:15:00,5286.98,True,False,0.005632
353,2019-04-21 12:15:00,5183.43,2019-04-21 15:30:00,5239.67,True,False,0.010850
354,2019-04-22 15:45:00,5279.69,2019-04-22 17:30:00,5319.56,True,False,0.007552
355,2019-04-24 10:45:00,5377.60,2019-04-25 00:00:00,5428.05,True,False,0.009382
356,2019-04-25 05:30:00,5398.18,2019-04-25 10:00:00,5417.80,True,False,0.003635
357,2019-04-27 12:15:00,5264.84,2019-04-27 14:00:00,5294.21,True,False,0.005579
358,2019-05-04 12:30:00,5771.49,2019-05-04 20:00:00,5708.97,False,True,-0.010833
359,2019-05-05 16:00:00,5751.22,2019-05-05 20:15:00,5798.05,True,False,0.008143
360,2019-05-06 07:45:00,5636.00,2019-05-06 14:00:00,5723.33,True,False,0.015495
361,2019-05-14 20:45:00,7705.29,2019-05-15 00:00:00,8107.86,True,False,0.052246
362,2019-05-16 09:45:00,7982.97,2019-05-17 21:00:00,7243.86,False,True,-0.092586
363,2019-05-20 07:45:00,7871.41,2019-05-20 20:45:00,7956.97,True,False,0.010870
364,2019-05-21 05:00:00,7827.94,2019-05-21 09:15:00,7946.50,True,False,0.015146
365,2019-05-22 04:00:00,7893.40,2019-05-22 15:15:00,7958.84,True,False,0.008290
366,2019-05-23 05:15:00,7619.04,2019-05-23 13:00:00,7688.75,True,False,0.009149
367,2019-05-25 06:45:00,7934.42,2019-05-25 09:30:00,8005.60,True,False,0.008971
368,2019-05-26 13:00:00,7919.97,2019-05-26 19:00:00,8051.80,True,False,0.016645
369,2019-05-27 11:15:00,8670.26,2019-05-27 12:00:00,8798.56,True,False,0.014798
370,2019-05-29 04:00:00,8614.81,2019-05-29 10:30:00,8675.70,True,False,0.007068
371,2019-05-31 04:30:00,8226.83,2019-05-31 13:00:00,8399.00,True,False,0.020928
372,2019-06-01 14:15:00,8490.35,2019-06-01 21:00:00,8590.01,True,False,0.011738
373,2019-06-02 17:15:00,8680.06,2019-06-02 21:30:00,8708.00,True,False,0.003219
374,2019-06-04 06:30:00,7900.46,2019-06-04 13:15:00,8017.11,True,False,0.014765
375,2019-06-04 16:45:00,7910.66,2019-06-05 00:00:00,7762.26,False,True,-0.018759
376,2019-06-06 12:00:00,7758.05,2019-06-07 06:00:00,7903.11,True,False,0.018698

In [109]:
print(records['win_trades_long'].sum()/records['loss_trades_long'].sum())

4.625

In [86]:
n = 2.3
m = 2.5

In [87]:
ceil(n)

3

In [105]:
records['returns_long'].sum()

0.5210572881722365