In [39]:
import pandas as pd

In [40]:
data = pd.read_csv('../exchange_data/BTC-USDT_1h.csv')

In [41]:
data

       1502942400000   4261.48   4313.62   4261.32   4308.83    47.181009
0      1502946000000   4308.83   4328.69   4291.37   4315.32    23.234916
1      1502949600000   4330.29   4345.45   4309.37   4324.35     7.229691
2      1502953200000   4316.62   4349.99   4287.41   4349.99     4.443249
3      1502956800000   4333.32   4377.85   4333.32   4360.69     0.972807
4      1502960400000   4360.00   4445.78   4360.00   4444.00    10.763623
...              ...       ...       ...       ...       ...          ...
16494  1562065200000  10048.30  10239.00   9727.00   9989.10  9397.268639
16495  1562068800000   9993.96  10207.44   9945.30  10058.46  5713.795065
16496  1562072400000  10055.71  10160.00   9918.00   9995.56  3965.775306
16497  1562076000000   9991.23  10542.99   9981.41  10542.99  7886.060906
16498  1562079600000  10538.38  10569.72  10383.77  10499.43  4595.553871

[16499 rows x 6 columns]