In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../exchange_data/BTC-USDT_1m.csv')

In [38]:
data[900000:]

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
900000,1379317920,125.40,125.40,125.31,125.40,29.770010,3732.259254,125.369768
900001,1379317980,125.40,125.40,125.39,125.39,24.670891,3093.683000,125.398107
900002,1379318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
900003,1379318100,125.39,125.39,125.39,125.39,6.353377,796.650000,125.390000
900004,1379318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3997692,1565567760,11555.57,11555.57,11540.37,11540.58,0.036868,425.909106,11552.336234
3997693,1565567820,11553.49,11556.22,11553.49,11556.22,0.623462,7204.428272,11555.520505
3997694,1565567880,11559.73,11561.22,11546.77,11561.22,0.159070,1838.731403,11559.252199
3997695,1565567940,11559.73,11589.73,11528.73,11528.73,16.198210,187504.635170,11575.638889
3997696,1565568000,11527.44,11551.57,11520.00,11520.00,23.805939,274731.256920,11540.450291